.container-fluid{
    text-align: center;
}
.header{
    background: rgb(228, 224, 213);
}
.body{
    background: rgb(236, 230, 211);
}
.footer{
    padding: 75px;
    height: 150px;
    background: rgb(233, 231, 224);
}
.col-2{
    margin-left: 35px;
    padding-top: 30px;
}
.table{
    margin-top: 35px;
}